@import "neat"
@import "reset"
@import "https://fonts.googleapis.com/css?family=Open+Sans:300"

#header
  height: 50px
  line-height: 50px
  font-family: "Open Sans"
  text-align: center
  font-size: 24px
  background-color: #2f5370




.row-video
  +grid-container(12)

.video
  height: 500px
  background-color: black
  +grid-column(8)
.info
  height: 500px
  background-color: green
  +grid-column(4)


