@import "https://fonts.googleapis.com/css?family=Open+Sans:300,600";
@import url(hearbeat.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #dadada;
  min-width: 1100px; }

#header {
  height: 60px;
  line-height: 60px;
  font-family: "Open Sans";
  text-align: center;
  font-size: 24px;
  background-color: #f3f3f3;
  color: black;
  margin-bottom: 10px; }
  #header::after {
    content: "";
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.6/assets/svg/1f630.svg");
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: 5px; }
  #header h1, #header::after {
    display: inline-block; }
  #header h1 {
    margin-right: 8px; }

.row-video::after {
  clear: both;
  content: "";
  display: block; }

.video {
  position: relative;
  background-color: black;
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px; }

.info {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px; }

.row-person-info {
  display: flex;
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  font-family: "Open Sans";
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .row-person-info .col-name-person {
    height: 120px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .row-person-info .col-name-person .person-name {
      color: black;
      font-size: 20px;
      text-align: center; }
    .row-person-info .col-name-person .person-title {
      font-size: 12px;
      text-align: center; }
    .row-person-info .col-name-person .hr-live-wrap {
      display: flex;
      justify-content: center; }
      .row-person-info .col-name-person .hr-live-wrap .hr-live {
        position: absolute;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        animation: heartbeat 1s infinite;
        background-image: url(https://marketplace.canva.com/MAB48Xu3f-I/1/thumbnail/canva-heart-icon-MAB48Xu3f-I.png);
        background-position: center center;
        background-size: cover;
        color: white;
        font-weight: 600; }
  .row-person-info .col-person-photo {
    width: 30%; }
    .row-person-info .col-person-photo .person-photo {
      background-position: center center;
      background-size: cover;
      height: 120px;
      width: 120px;
      border-radius: 3px; }

.row-graph {
  margin-bottom: 10px; }

.graph {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.row-stats {
  padding: 15px 15px;
  background-color: #f5f5f5;
  font-family: "Open Sans";
  font-size: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .row-stats::after {
    clear: both;
    content: "";
    display: block; }
  .row-stats .stat-value {
    font-size: 25px; }
  .row-stats .stat-name {
    margin-bottom: 5px; }
  .row-stats > div {
    text-align: center;
    width: calc(33.3333333333% - 26.6666666667px);
    float: left;
    margin-left: 20px; }
    .row-stats > div > span {
      display: block; }

.people-3 .row-stats {
  display: none; }

.bbox {
  border: solid 2px #fb3e28;
  position: absolute;
  left: calc(40%);
  top: calc(10%);
  transition: all; }

.people-2 .person-photo, .people-3 .person-photo {
  height: 60px !important;
  width: 60px !important; }
.people-2 .col-name-person, .people-3 .col-name-person {
  height: 60px !important;
  width: 100%; }
.people-2 .col-person-photo, .people-3 .col-person-photo {
  width: initial; }
.people-2 .hr-live-wrap, .people-3 .hr-live-wrap {
  margin-top: -7px; }
  .people-2 .hr-live-wrap .hr-live, .people-3 .hr-live-wrap .hr-live {
    right: 40px;
    margin-top: -37px; }

.p2 .hr-live {
  animation-delay: 459ms !important; }

.p3 .hr-live {
  animation: heartbeat 1.3s infinite !important; }

/*# sourceMappingURL=main.css.map */
