@import "neat"
@import "reset"
@import "https://fonts.googleapis.com/css?family=Open+Sans:300"
@import "material_shadows"

$card-color: white
#header
  height: 60px
  line-height: 60px
  font-family: "Open Sans"
  text-align: center
  font-size: 24px
  background-color: #f3f3f3
  color: black
  margin-bottom: 10px

  &::after
    content: ''
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.6/assets/svg/1f630.svg")
    height: 50px
    width: 50px
    position: absolute
    margin-top: 5px
  h1, &::after
    display: inline-block

  h1
    margin-right: 8px

body
  background: #dadada


.row-video
  +grid-container(12)

.video
  position: relative
  height: 500px
  background-color: black
  +grid-column(8)

.info
  height: 500px
  +grid-column(4)



.person-info-row
  display: flex
  padding: 10px 10px
  background-color: #f5f5f5
  margin-bottom: 10px
  +shadow(1)


.person-name-col
  height: 120px
  width: 70%
  margin-right: 10px
  font-family: "Open Sans"
  color: black
  font-size: 20px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center

.person-subtitle
  font-size: 12px

.person-photo-col
  height: 120px
  width: 30%

.person-photo
  background-image: url("https://imgur.com/IFYVIH4.png")
  background-position: center center
  background-size: cover
  height: 120px
  width: 120px
  border-radius: 3px


#graph
  width: 100% !important
  height: 96px !important
  +shadow(1)

.bbox
  height: 150px
  width: 100px
  border: solid 2px #ffbc17
  position: absolute
  left: calc(40%)
  top: calc(10%)

#hr
  position: absolute
  font-family: "Open Sans"
  width: 100%
  top: 200px
  text-align: center

  font-size: 30px